include ./image.mixin.pug
mixin downloadLink(docName = "file.pdf", docSize = "100kb", href = "#")
  table.download-wrapper&attributes(attributes)
    tr
      td
        img(src="http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/downloadFile", alt="download file icon")
      td
        .green-text #{ docName }
        div #{ docSize }
      td.download-icon
        +image("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/download", "download icon")(
          href=href,
          download
        )
