@import './mixins';
@import './variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
      margin: 0;
      @include fontInter();
}

table {
      border-spacing: 0;
}

td {
      padding: 0;
}

img {
      border: 0;
}

.wrapper {
      width: 100%;
      padding-bottom: 44px;
      table-layout: fixed;
      background-color: #ccc;
}

.main {
      padding: 60px 100px 44px;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      border-spacing: 0;
      background-color: $mainBg;
      background-image: url("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/bg-blured");
      background-size: contain;
      background-repeat: no-repeat;
      backdrop-filter: blur(8px);
}

// ----- COMMON  ------
.section {
      width: 100%;
}

.two-columns {
      text-align: center;
      font-size: 0;
}

.column {
      width: 100%;
}

//--- LOGO ---
.logo-wrapper {
      padding-bottom: 60px;
      text-align: center;
      font-size: 0;
      & > .logo {
            width: 260px
      }
}

.client-name {
      text-align: center;
}

// --- INNER WRAPPER ---
.inner-wrapper {
      margin-bottom: 60px;
      padding: 24px 24px 60px;      
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      border-spacing: 0;
      border-radius: 24px;
      background: #fff;
      background: linear-gradient(165.48deg, #FFFFFF -0.69%, #FFFFFF 21.96%, #FFF3F3 29.62%, #FFFFFF 42.74%, rgba(255, 243, 243, 0.76) 70.08%, #FFFFFF 104.29%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.header-img {
      width: 100%;
      padding-bottom: 32px;
}


.content > * {
      font-weight: 500;
      font-size: 14px;
      color: $mainTxt;
      line-height: 28px;
}

//--- Fancy List ----
.fancy-list {
      padding-left: 40px;
      list-style-image: url('../img/rectangle.png');
}

//--- Link ----
.link {
      color: $green;
}

//--- button ----
.button {
      display: inline-block;
      padding: 16px 24px 15px;
      background: $green;
      border-radius: 8px;
      color: $white;
      font-size: 16px;
      border: none;
      text-decoration: none;
}

//--- button ----
.divider {
      margin: 32px 0;
      width: 100%;
      background: radial-gradient(40.67% 2749531.62% at 50% 0%, #C4C4C4 0%, rgba(220, 220, 220, 0) 100%);
      height: 2px;
}

//--- subtitle ----
.subtitle {
      font-weight: 600;
      text-align: center;
      color: $subtitle;
}

.green-text {
      color: $green;
}

//--- downloadLink ----
.download-wrapper {
      width: 100%;

      .download-icon {
            cursor: pointer
      }
}

// ---------- Browser Link section -----------------

.browser-link {
      & > * {
            font-size: 12px;
      }
      .browser-link-wrapper {
            margin-bottom: 60px;
            color: $mainTxt;
      }
}


// ---------- Contact Link -----------------


.contact-link-wrapper {
      & > td {
            vertical-align: center;
      }
      .contact-link {
            text-decoration: none;
            margin: 0px auto;
            display: table-row;

            .icon, .text {
                  display: table-cell;
            }

            .icon {
                margin-right: 14px;  

            }

            & > * {
                  color: $darkTxt;
                  font-weight: 500;
                  line-height: 28px;
            }
      }
}

// ---------- Browser Link section -----------------

.contact-us {
      padding: 0 100px;
      & > tr:first-child {
            padding-bottom: 12px;
      }
}

.hint {
      font-weight: 500;
      font-size: 12px;
      color: $grayHint;
}

.text-center {
      text-align: center;
}

.mb-24 {
      margin-bottom: 24px;
}